<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../editProfileUser/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="background-image: url(../pictures/FONDO.png)">
    <header class="flex justify-center">
      <a href="/"
        ><img src="../pictures/logo-name.png" class="h-20 self-center" alt=""
      /></a>
    </header>

    <div class="max-w-lg mx-auto my-10 bg-[#13253d] rounded-lg shadow-md p-5">
      <div class="flex justify-center items-center w-full bg-grey-700 relative">
        <img
          id="userProfile"
          class="w-32 h-32 rounded-full bg-[#0a1319]"
          src="../<%=UserInfo.AVATAR%>"
          alt=""
        />
        <div class="">
          <button class="edit" id="editImg">
            <svg viewBox="0 0 512 512">
              <path
                d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="flex justify-center items-center relative">
        <h2
          id="userName"
          class="text-center text-2xl font-semibold mt-3 text-white"
        >
          <%= UserInfo.Names%>
        </h2>
        <div>
          <button class="edit" id="editName">
            <svg viewBox="0 0 512 512">
              <path
                d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="flex justify-center mt-5">
        <a href="/Sell">
          <button
            class="bg-[#010b14] text-gray-600 py-2 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
          >
            Create an account as seller
          </button>
        </a>

        <button
          id="deleteAccount"
          class="bg-[#010b14] text-gray-600 py-2 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
        >
          Delete Account
        </button>
      </div>

      <div class="flex flex-col items-center mt-5 p-4f">
        <button
          href="#"
          class="basis-1/2 none center bg-[#010b14] text-gray-600 py-3 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
        >
          Purchase history
        </button>
      </div>
      <br />
    </div>
    <dialog id="dialogDeleteAccount">
      <div style="background-image: url(../pictures/FONDO.png)">
        <div class="flex justify-center">
          <a href="#"
            ><img
              src="../pictures/logo-name.png"
              class="h-20 self-center"
              alt=""
          /></a>
        </div>

        <div
          class="bg-gray-200 p-8"
          style="background-image: url(../pictures/FONDO.png)"
        >
          <div class="max-w-md mx-auto bg-[#10283d] p-6 rounded-md shadow-md">
            <h2 class="text-2xl font-semibold mb-4 text-white">
              Are you sure about delete your account?
            </h2>

            <form id="confirmDeleteAccount" enctype="multipart/form-data">
              <div class="mb-4">
                <button
                  type="submit"
                  class="bg-[#0b1620] text-white py-2 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
                >
                  Accept
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </dialog>
    <script src="../editProfileUser/main.js"></script>
  </body>
</html>
