<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:ital,wght@0,100;1,900&family=Sulphur+Point:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" type="text/css" href="../logIn/style.css" />
  </head>
  <body>
    <div class="main-container"></div>
    <div class="flex-container">
      <div class="logo-container">
        <a href="/">
          <img class="logo" src="../pictures/logo.png" alt="Your Company" />
        </a>
        <h2 class="title">Sign in to your account</h2>
      </div>

      <div class="form-container">
        <form id="logIn" class="form">
          <div class="form-group">
            <label for="email" class="label">Email address</label>
            <div class="input-container">
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="input"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="label">Password</label>
            <div class="input-container">
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="input"
              />
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="button">Sign in</button>
          </div>
        </form>

        <p class="message">
          Not a member?
          <a href="/CreateAccount" class="link">Sign up.</a>
        </p>

        <p id="error" class="errorLogIn" style="display: none"></p>
      </div>
    </div>
    
    <dialog id="errorSignIn">
      <div style="background-image: url(../pictures/FONDO.png)">
        <div class="flex justify-center">
          <a href="#"
            ><img
              src="../pictures/logo-name.png"
              class="h-20 self-center"
              alt=""
          /></a>
        </div>

        <div class="bg-gray-200 p-8" style="background-image: url(../pictures/FONDO.png)">
          <div class="max-w-md mx-auto bg-[#10283d] p-6 rounded-md shadow-md">
            <h2 class="text-2xl font-semibold mb-4 text-white">
              That account does not exist
            </h2>

            <form id="confirmDeleteAccount" enctype="multipart/form-data">
              <div class="mb-4">
              <button
                type="submit"
                class="bg-[#0b1620] text-white py-2 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
              >
                Accept
              </button>
            </form>
          </div>
        </div>
      </div>
    </dialog>

    <script src="./logIn/main.js"></script>
  </body>
</html>
