<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(route_model_3d !== undefined){%>
    <p id="route" style="display: none;"><%= route_model_3d%></p>
    <%}%>
    <canvas id="webgl"></canvas> 
    <script type="module" src="../view/Mostrar3D.js"></script>
</body>
</html>