<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/chat/style.css" />
    <title>Chat</title>
  </head>

  <body>
    <h1>Creating a chat</h1>

    <div>
      <ul id="users">
        <% if(email){%>
        <li id="NewUser"><%= email%></li>
        <% }%>
      </ul>

      <div id="chat">
        <ul id="messages"></ul>
      </div>
    </div>

    <script type="module" src="/chat/main.js"></script>
  </body>
</html>
