<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" type="text/css" href="/chat/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:ital,wght@0,100;1,900&family=Sulphur+Point:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-sidebar">
        <div>
          <button class="back-button">←</button>
          <h1 class="chat-title">Chats</h1>
        </div>
        <ul id="chat-list" class="chat-list">
          <%if(email){%>
          <li id="user" isNew="true" class="user newUser" email="<%=email%>">
            <%=email%>
          </li>
          <%}%>
        </ul>
      </div>
      <div class="chat-section">
        <div class="chat-header">
          <h2>Chat con Usuario 1</h2>
        </div>
        <div class="chat-messages" id="chat-messages">
          <!-- Aquí se mostrarán los mensajes -->
        </div>
        <div id="chat-form" class="chat-input"></div>
      </div>
    </div>

    <!-- Agregar el contenedor de vista emergente al final del body -->
    <dialog id="image-popups"></dialog>

    <dialog id="windowPayload">
      <div
        class="bg-gray-200 p-8"
        style="background-image: url(../pictures/FONDO.png)"
      >
        <div class="flex justify-center">
          <a href="#"
            ><img
              src="../pictures/logo-name.png"
              class="h-20 self-center"
              alt=""
          /></a>
        </div>

        <div
          class="max-w-md mx-auto bg-[#121e25] p-6 rounded-md shadow-md mt-9"
        >
          <h2 class="text-2xl font-semibold mb-4 text-white">Subir Archivo</h2>

          <form id="createPayload" enctype="multipart/form-data">
            <div class="mb-4">
              <label
                for="archivo"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Seleccionar Archivos</label
              >
              <input
                type="file"
                multiple
                name="archivo"
                id="archivo"
                class="w-full rounded-md py-2 px-3 text-gray-600"
              />
            </div>

            <div class="mb-4">
              <label
                for="cost"
                class="bg-[#6b7280 ]block text-gray-700 text-sm font-bold mb-7"
                >Ingresa el monto a cobrar</label
              >
              <input
                type="number"
                id="cost"
                name="cost"
                placeholder="$000.00"
                class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="mb-4">
              <label
                for="account"
                class="bg-[#6b7280 ]block text-gray-700 text-sm font-bold mb-7"
                >Ingresa la cuenta a la que se enviara el dinero</label
              >
              <input
                type="number"
                id="accountReceiver"
                name="accountReceiver"
                placeholder="0123456789"
                class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
              />
            </div>

            <button
              type="submit"
              class="bg-[#010b14] text-gray-600 py-2 px-4 rounded-md shadow-md shadow-[#121e25] transition-all hover:shadow-lg hover:bg-[#010e17] hover:shadow-[#13253d] hover:text-white focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mx-3"
            >
              Aceptar
            </button>
          </form>
        </div>
      </div>
    </dialog>

    <dialog id="payloadElement">
      <form id="payment-form">
        <div id="link-authentication-element">
          <!--Stripe.js injects the Link Authentication Element-->
        </div>
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </dialog>
    <script type="module" src="../chat/script.js"></script>
  </body>
</html>
