<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" type="text/css" href="/chat/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:ital,wght@0,100;1,900&family=Sulphur+Point:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-sidebar">
        <div>
          <button class="back-button">←</button>
          <h1 class="chat-title">Chats</h1>
        </div>
        <ul id="chat-list" class="chat-list">
          <%if(email){%>
          <li id="user" isNew="true" class="user newUser"><%=email%></li>
          <%}%>
        </ul>
      </div>
      <div class="chat-section">
        <div class="chat-header">
          <h2>Chat con Usuario 1</h2>
        </div>
        <div class="chat-messages" id="chat-messages">
          <!-- Aquí se mostrarán los mensajes -->
        </div>
        <div id="chat-form" class="chat-input"></div>
      </div>
    </div>

    <!-- Agregar el contenedor de vista emergente al final del body -->
    <dialog id="image-popups"></dialog>

    <script type="module" src="/chat/script.js"></script>
  </body>
</html>
