*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-image: url(/FOTOSINTEGRADOR/FONDO.png); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#logop {
    margin-top: 13px;
    left: 2%;
    width: 180px;
    float: left;
}

.menú {
    top: -8px;
    flex-grow: 1;
    justify-content: center;
}

.menú ul {
    z-index: 1000;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menú li {
    justify-content: center;
    margin: 0px 60px;
    position: relative;
}

.menú button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #A7A7A7;
    transition: color 0.0s ease;
}

.menú button:hover {
    color: white;
    transform: translateY(-2px);
}

#submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -22px;
}

.submenu ul {
    z-index: 1000;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.submenu li {
    justify-content: flex-start;
    margin: 0;
}

.submenu button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #A7A7A7;
    transition: color 0.0s ease;
    margin-right: 5px;
}

.submenu button:hover {
    color: white;
    transform: translateY(-2px);
}

.categorias-lista {
    display: none;
}

.categorias-lista ul {
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr); 
}

.categorias-lista li {
    margin: 5px 10px;
}

.categorias-lista button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #A7A7A7;
    transition: color 0.0s ease;
}

.categorias-lista button:hover {
    text-decoration: underline;
    color: white;
    transform: translateY(-2px);
}

.Login {
    width: 200px;
}

.Login ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Login li {
    justify-content: center;
    margin: 10px;
}

.Login button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #A7A7A7;
    transition: color 0.0s ease;
}

.Login button:hover {
    color: white;
    transform: translateY(-2px);
}

#searchBox {
    top: 20px;
    display: block;
    position: relative;
}

.searchBox {
    display: flex;
    width: 400px;
    height: 35px;
    align-items: center;
    justify-content: left;
    gap: 8px;
    background-color: rgba(18, 30, 37, 0.6);
    border-radius: 50px;
    position: relative;
    margin: 0 auto 0 auto;
    border: 1px solid #A7A7A7;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 13px;
    width: 320px;
    padding: 8px 16px;
}

.searchButton {
    z-index: 30;
    color: white;
    position: absolute;
    right: 8px;
    width: 35px;
    height: 35px;
    top: 0;
    border-radius: 50%;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    cursor: pointer;
}

.searchButton:hover {
    transform: translateY(-1px);
}

.searchButton svg {
    width: 25px;
    height: 25px;
}

main{
    position: relative;
}

#temp{
    display: none;
    height: 37px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: #F4F4F4;
}

.publicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
}

.publicacion{
margin-right: 10px;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 30px;
width: 550px;
height: 267px;
position: relative;
border-radius: 5px;
}

.imgprin{
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
border-radius: 5px;
width: 100%;
height: 100%;
width: 340px;
height: 200px;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
}

.secundaries{
position: absolute;
top: 0;
left: 350px;
display: flex;
flex-direction: column;
}

.imgsec{
margin-top: 5px;
margin-right: 5px;
border-radius: 5px;
width: 100%;
height: 100%;
width: 195px;
height: 97.5px;
object-fit: cover;
}

.descripcion{
margin: 5px;
width: 540px;
height: 50px;
position: absolute;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
background: #010b14;
border: 1px solid #031828;
box-shadow: 0 0 10px rgba(3, 24, 40, 0.9);
}

footer{
    background: #000c12;
    margin-top: auto;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: relative;
}

.patas {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: left;
}

.patas ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.patas li{
    margin: 0px;
    margin-left: 5px;
    margin-right: 80px;
}

.patas button{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    outline: none; 
    text-decoration: none;
    color: #A7A7A7;
    transition: color 0.0s ease;
}

.patas button:hover{
    color:white;
    transform: translateY(-1px);
}