<nav>
    <ul class="flex justify-around h-20 items-center px-8 bg-slate-800 text-2xl text-white">
        <li>
            <a href="http://localhost:4000/">
                <figure class="flex items-center gap-2">
                    <img src="../images/icon.jpeg" class="h-16 rounded-full" alt="Logo" />
                    <figcaption>U'DesEv</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="http://localhost:4000/BecomeSeller">Sell</a>
        </li>
        <li>
            <a href="http://localhost:4000">Chats</a>
        </li>
        <li>
            <a href="http://localhost:4000">Support</a>
        </li>
    </ul>
</nav>