<img id="logop" src="../pictures/logo-name.png" />

<nav class="menú">
  <ul>
    <li id="categorias-link" class="categorias-item">
      <button>Categorías</button>
      <ul class="submenu" id="submenu">
        <li class="categorias-subitem" id="publicacionesLink">
          <button>Publicaciones</button>
          <div class="categorias-lista" id="publicacionesLista">
            <ul>
              <li><a href="/category/architecture">*Arquitectura</a></li>
              <li><a href="/category/carpentry">*Carpintería</a></li>
              <li><a href="/category/interiors">*Interiores</a></li>
              <li><a href="/category/fashion">*Moda</a></li>
            </ul>
          </div>
        </li>
        <li class="categorias-subitem" id="vendedoresLink">
          <button>Vendedores</button>
          <div class="categorias-lista" id="vendedoresLista">
            <ul>
              <li><a href="/sellers/architecture">*Arquitectura</a></li>
              <li><a href="/sellers/carpentry">*Carpintería</a></li>
              <li><a href="/sellers/interiors">*Interiores</a></li>
              <li><a href="/sellers/fashion">*Moda</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <a href="/Chats">
        <button>Chats</button>
      </a>
    </li>
    <li>
      <a href="/Sell">
        <button>Vender</button>
      </a>
    </li>
  </ul>
</nav>

<nav class="Login">
  <ul>
    <li id="Login">
      <a href="/SignIn">
        <button>Log in</button>
      </a>
    </li>
  </ul>
</nav>
