<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@<version>/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@<version>/examples/jsm/"
        }
      }
    </script>
    <link rel="stylesheet" href="/MainPage/style.css" />
    <title>UDesEv</title>
  </head>

  <body class="bg-slate-900 text-white">
    <%- include('../partitions/'+navBar)%>

    <main>
      <section id="searchBar">
        <form>
          <input type="text" name="Data" />
          <input type="submit" value="ðŸ”" />
        </form>
      </section>
      <section id="content"></section>
      <!-- <canvas id="webgl"></canvas> -->
    </main>

    <script type="module" src="/MainPage/main.js"></script>
  </body>
</html>
